<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetWorkResponseWithAFN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBC62B4A1DBDB8CF00845F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBC62B631DBDB8CF00845F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBC62B6E1DBDB8CF00845F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
